 <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <b><i>SockChat</i></b> by <a href="https://tameesh.in">Tameesh Biswas</a>. The <a href="https://github.com/tameeshB/sockChat">source code</a> is licensed by
          <a href="https://github.com/tameeshB/sockChat.md">GNU General Public License v2.0</a>.
        </p>
      </div>
    </div>
  </footer>
  <script>
  	(function() {
  	    var burger = document.querySelector('.burger');
  	    var menu = document.querySelector('#navbarMenu');
  	    burger.addEventListener('click', function() {
  	        burger.classList.toggle('is-active');
  	        menu.classList.toggle('is-active');
  	    });
  	})();
  </script>
</body>
</html>