 <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <b><i>SockChat</i></b> by <a href="https://tameesh.in">Tameesh Biswas</a>. The <a href="https://github.com/tameeshB/sockChat">source code</a> is licensed by
          <a href="https://github.com/tameeshB/sockChat.md">GNU General Public License v2.0</a>.
        </p>
      </div>
    </div>
  </footer>
  <script src="js/common.js"></script>
</body>
</html>