<%- include head.ejs %>
  <title>SockChat | Home</title>
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>

  <section class="hero is-info is-fullheight is-bold">
  	
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <div id= "sockChat"  class="title" ><a href="/"><img src="/images/logo/icon48.png"id="header_logo" alt=""><h1><b>ock</b>Chat</h1></a></div>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a href="/register" class="navbar-item">
                Register
              </a>
              <a href="/login" class="navbar-item">
                Login
              </a>
              <span class="navbar-item">
                <a href="https://github.com/tameeshB/sockChat" class="button is-white is-outlined is-small" target="_blank">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>View Source</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body ">
      <div class="container has-text-centered">
        <h1 style="font-size:5em;font-weight: normal !important;" class="title">
          <b>Sock</b>Chat
        </h1>
        <h2 class="subtitle">
          A <i>VERY</i> reliable way to communicate on the internet. <br>
          An end-to-end encrypted decentralised cross-platform chat application.
        </h2>
        
      </div>
    </div>

  </section>

  <div class="box cta">
    <p class="has-text-centered">
      <span class="tag is-primary">In Dev</span> Contribute to development on <a href="https://github.com/tameeshB/sockChat">GitHub</a>
    </p>
  </div>

  <section class="container">
    <div class="columns features">
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-connectdevelop"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Decentralised </h4>
              <p>A decentralised architecture ensures distributed authority, power. Appropriate data is encrypted and stored in fragments among peer devices.<br>P2P ensures trust with faster data transfer rates.</p>
              <p><a href="https://medium.com/@petkanics/the-benefits-of-decentralization-88a0b5d0fd39" target="_blank">The Benefits of Decentralization</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-user-secret"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>End-to-end encrypted</h4>
              <p>End to end cryptosystem implemented with Elliptic Curve Cryptography (ECC-Curve25519) and Advanced Encryption Standard(AES-256) ensures the message reaches only the intended audience.<br><!--Data is in form of ciphertext both at rest and in transit.<br>--><b>This means neither centralised system administrators who have physical access nor external prying eyes get hold of your sensitive data.</b></p>
              <p><a href="http://bitwiseshiftleft.github.io/sjcl/">Stanford Javascript Crypto Library</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image has-text-centered">
              <i class="fa fa-github"></i>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>The love of Open-Source  </h4>
              <p>This open is open-sourced, all the code running behind is on <a href="https://github.com/tameeshB/sockChat">GitHub.</a><br>
                Being open source, the architecture and all []s make the application transparent and hence reliable.
                <br>Feel free to join in, put in a PR or two or rather fork it and build your own version!</p>
                This project is licensed under GNU General Public License v2.0.
              <p><a href="https://github.com/tameeshB/sockChat">GitHub repo</a>
                <a href="https://github.com/tameeshB/sockChat/blob/master/LICENSE.md">LICENSE.md</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="intro column is-8 is-offset-2">
      <h2 class="title">Under the hood</h2><br>
      <!-- <p class="subtitle">...stack and key  dependencies.</p> -->
    </div>

    <div class="sandbox">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <img src="/images/3rdparty/node.png" style="transform:scale(0.6)" height="10" alt="">
            <p class="title">Node.js</p>
            <p class="subtitle"> <a href="https://nodejs.org/en/">nodejs.org</a></p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <img src="/images/3rdparty/express.png" style="transform:scale(0.8)"  alt="">
            <p class="title" style="position: absolute;bottom: 20px;">Express.js</p>
            <p class="subtitle" style="position: absolute;bottom: 20px;"><a href="https://expressjs.com/">expressjs.com</a></p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <img src="/images/3rdparty/socket.png" style="transform:scale(0.9)"  alt="">
            <p class="title" style="position: absolute;bottom: 20px;">socket.io</p>
            <p class="subtitle" style="position: absolute;bottom: 20px;">
              <a href="https://socket.io/">socket.io</a>
            </p>
          </article>
        </div>
      </div>


    <div class="sandbox">
      <div class="tile is-ancestor">
       
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <img src="/images/3rdparty/passport.png" style="transform:scale(0.5)" alt="">
            <p class="title" style="position: absolute;bottom: 20px;">passport.js</p>
            <p class="subtitle" style="position: absolute;bottom: 20px;">
              <a href="http://www.passportjs.org/" >passportjs.org</a>
            </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <img src="/images/3rdparty/mongo.png" style="transform:scale(0.9)" height="10" alt="">
            <p class="title" style="position: absolute;bottom: 20px;">mongo db</p>
            <p class="subtitle" style="position: absolute;bottom: 20px;">
              <a href="https://www.mongodb.com/">mongodb.com</a>
            </p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-white">
            <img src="/images/3rdparty/ionic.png" style="transform:scale(0.6)" alt="">
            <p class="title" style="position: absolute;bottom: 20px;">ionic</p>
            <p class="subtitle">
              <a href="https://ionicframework.com/" style="position: absolute;bottom: 20px;">ionicframework.com</a>
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
<%- include footer.ejs %>
