#sockChat{
	top:10px;
	left:10px;
	display: inline;
}
#sockChat h1{
	font-size: 40px;
	position: fixed;
	text-shadow: #000 0px 1px 20px;
	z-index: 10;
    left: 55px;
    vertical-align: middle;
    top: 10px;

}
@media only screen and (max-width: 900px) {
	#header_logo{
		position: absolute;
		width:30px;
		height:30px;
		top: 10px;
		left: 10px;
	}
	#sockChat {
		top: 10px;
		left: 10px;
		display: inline;
	}

	#sockChat h1 {
		font-size: 25px;
		position: absolute;
		left: 40px;
		vertical-align: middle;
		top: 10px;
	}
}
@media only screen and (min-width: 900px) {
	#sockChat {
		position: fixed;
	}
}
body{
	overflow-x: hidden;
}

footer {
	background-color: #000000 !important;
	padding: 1rem 1.5rem 2rem !important;
	color: #FFFFFF;
}